* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

body {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  margin: 10px;
}

header {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
